{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }} mb-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
